@import url("fonts.css?v=20221108");
@import url("variables.css?v=20221108");
@import url("utilities.css?v=20221108");

/* UTILITIES*/
.custom-bg-cork {
    background: url('../images/sandpaper_2-min.jpg') repeat;
}

.custom-bg-gray {
    background-color: #EAEAEA !important;
}

.h1 {
    font-family: var(--font-family-Rowdies);
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    line-height: var(--line-height-1_2);
}

.h2 {
    font-family: var(--font-family-RobotoSlab);
    font-weight: var(--font-weight-bold);
    font-size: 15px;
    line-height: var(--line-height-1_2);
}

.embed-image {
    min-height: 150px !important;
    min-width: 100px !important;
}

.personal-data {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 400px;
    min-height: 200px;
    background-color: #252A34;
    padding: 1em 2em;
    text-align: center;
    background: linear-gradient(to left, #252A34 50%, salmon 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    color: #08D9D6;
}

@media (min-width: 992px) {

    /* PC */
    .h1 {
        font-size: 40px;
    }

    .h2 {
        font-size: 30px;
    }

    .personal-data {
        min-height: 200px;
    }

    .embed-image {
        min-height: none !important;
        min-width: none !important;
    }
}

.personal-data:hover {
    background-position: left;
    color: #252A34;
}

.personal-data:hover .custom-button-checkbox {
    border: 1px solid var(--black);
}

.personal-data:hover .custom-button-checkbox .check-first:before {
    background-color: var(--black);
}

.personal-data:hover .custom-button-checkbox .check-first:after {
    color: var(--black);
}

.personal-data:hover .custom-button-checkbox .custom-slide-checkbox:checked+.check-first span {
    color: var(--black);
}

.personal-data:hover .custom-button-checkbox .custom-slide-checkbox:checked+.check-first:before {
    background-color: var(--black);
}

.personal-data-text {
    /* opacity: 0; */
    display: flex;
    flex-direction: column;
    text-align: right;
    text-transform: uppercase;
    transition: .5s ease-out;
}

.personal-data-div {
    max-width: 500px;
    width: 100%;
    height: 500px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    transition: 1s ease-in-out, box-shadow 1s ease-in-out;
}


/* .personal-data-div:active {
    transform: perspective(500px) translateY(8px) rotateY(180deg) scale(-1, 1);
    -moz-transform: perspective(500px) translateY(8px) rotateY(180deg) scale(-1, 1);
    -webkit-transform: perspective(500px) translateY(8px) rotateY(180deg) scale(-1, 1);
    -o-transform: perspective(500px) translateY(8px) rotateY(180deg) scale(-1, 1);
    -ms-transform: perspective(500px) translateY(8px) rotateY(180deg) scale(-1, 1);

} */

.personal-data-header {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    font-family: var(--font-family-Rowdies);
    line-height: var(--line-height-1_2);
    opacity: 1;
    text-align: center;
}

.personal-data-body {
    opacity: 0;
    width: 0;
    height: 0;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-md);
    font-family: var(--font-family-default);
    line-height: var(--line-height-1_2);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #ffffff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #252A34;
}

.rope-big,
.rope-medium,
.rope-small {
    transition: 1s ease-in-out;
}

.rope-small {
    width: 20px;
    height: 100px;
    max-height: 100px;
    /* background-color: #252A34; */
    /* border: 10px solid #252A34; */
    background: repeating-linear-gradient(-55deg,
            #252A34,
            #252A34 10px,
            #EAEAEA 10px,
            #EAEAEA 20px);
    border: 2px solid #252A34;
}

.rope-medium {
    width: 30px;
    height: 200px;
    max-height: 200px;
    /* background-color: #252A34; */

    background: repeating-linear-gradient(-55deg,
            #252A34,
            #252A34 10px,
            #EAEAEA 10px,
            #EAEAEA 20px);
    border: 2px solid #252A34;
}

.rope-big {
    width: 30px;
    height: 400px;
    max-height: 400px;
    /* background-color: #252A34; */
    /* border:  10px solid #252A34; */
    background: repeating-linear-gradient(-55deg,
            #252A34,
            #252A34 10px,
            #EAEAEA 10px,
            #EAEAEA 20px);
    border: 2px solid #252A34;
}

.title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-1_2);
    font-family: var(--font-family-Rowdies);
}

.subtitle {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-md);
    line-height: var(--line-height-1_2);
    font-family: var(--font-family-RobotoSlab);
}

.content {
    font-size: var(--font-size-default);
    line-height: var(--line-height-1_2);
    font-family: var(--font-family-default);
}

.bar-code {
    width: 100%;
    height: 30px;
    max-height: 50px;
    background: repeating-linear-gradient(90deg,
            #252A34,
            #252A34 10px,
            #EAEAEA 2px,
            #EAEAEA 15px);
    border: 2px solid #252A34;
}

.position-qr {
    bottom: 0;
    right: 0;
}

/* .qr-resize {
    max-width: 150px !important;
    max-height: 150px !important;
} */

.personal-data-body ul li {
    padding: 4px 0;
}

.personal-data-body ul li:first-child {
    padding-bottom: 4px;
    padding-top: 0px;
}

.personal-data-body ul li:last-child {
    padding-bottom: 0px;
    padding-top: 4px;
}

.qr-icons {
    position: absolute;
    bottom: 0;
}

.footer {
    min-height: 150px;
    max-height: 200px;
}

@media (min-width: 992px) {
    .footer {
        min-height: 200px;
        max-height: 250px;
    }
}

.post-it {
    z-index: 5;
}

.post-it-text {
    z-index: 6;
    position: absolute;
}

.custom-rounded {
    border-radius: 2.25rem !important;
}

.custom-circle span {
    position: absolute;
    height: 125px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    transform-origin: bottom center;
    font-weight: 800;
    font-family: var(--font-family-Rowdies);
    text-shadow: 0 0 50px #ffffff;
    -webkit-text-stroke: 2px var(--black);
    color: #ffffff;
}

#circle_digital {
    top: -55px;
    right: 80px;
}

#circle_competencias {
    top: -55px;
    left: 55px;
}

.click-text,
.click-text-mobile {
    text-shadow: 0 0 50px #ffffff;
    bottom: -40px;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    font-family: var(--font-family-Rowdies);
    letter-spacing: 0.5em;
    -webkit-text-stroke: 2px var(--black);
    color: #ffffff;
}

.post-it-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.post-it-ul li .post-it-content {
    display: block;
    height: 500px;
    width: 100%;
    max-width: 30em;
    padding: 1em;
    background: #ffc;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transition: transform .15s linear;
}

.post-it-ul li {
    list-style: none;
    margin: 3em 0;
}

.post-it-ul li:last-child {
    margin-bottom: 0;
}


.post-it-ul li:nth-child(even) .post-it-content {
    background: #cfc;
}

.post-it-ul li:nth-child(3n) .post-it-content {
    background: #ccf;
}

.post-it-ul li .post-it-content:hover,
.post-it-ul li .post-it-content:focus,
.post-it-ul li:nth-child(even) .post-it-content:hover,
.post-it-ul li:nth-child(even) .post-it-content:focus,
.post-it-ul li:nth-child(3n) .post-it-content:hover,
.post-it-ul li:nth-child(3n) .post-it-content:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}

.post-it-body {
    height: 400px;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-md);
    font-family: var(--font-family-default);
    line-height: var(--line-height-1_2);
}

.pdf_links {
    text-decoration: none;
    transition: color .15s linear;
}

.pdf_links:hover,
.pdf_links:hover i {
    color: var(--blue) !important;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.custom-circle {
    display: none;
}

.click-text-mobile {
    display: block;
}

.click-text,
.click-text-mobile {
    position: absolute;
}

@media (min-width: 1650px) {

    .custom-circle {
        position: absolute;
    }

    .custom-circle {
        display: block;
    }

    .click-text-mobile {
        display: none;
    }
}

@media (min-width: 992px) {

    /* PC */

    .personal-data-div:hover {
        box-shadow: 0 0 50px #ffffff;
    }

    .post-it-ul li .post-it-content {
        transform: rotate(-6deg);
    }

    .post-it-ul li:nth-child(even) .post-it-content {
        transform: rotate(4deg);
        position: relative;
        top: 5px;
    }

    .post-it-ul li:nth-child(3n) .post-it-content {
        transform: rotate(-3deg);
        position: relative;
        top: -5px;
    }

    .post-it-ul li:nth-child(5n) .post-it-content {
        transform: rotate(5deg);
        position: relative;
        top: -10px;
    }

    .post-it-ul li {
        margin: 3em;
    }

    .post-it-body {
        height: 350px;
    }

    .embed-image {
        margin: 3em;
        margin-top: 0em;
    }
}